.container{
    border: 3px solid rgb(248, 24, 24);
    margin: 10%;
    padding: 3%;
    
}
.head{
    border: 3px solid rgb(8, 181, 28);
    margin: 5%;
    padding: 6%;
}
span{
    border: 3px solid rgb(82, 16, 215);
    margin: 4%;
    padding: 6px;

}
section{
    border: 2px solid black;
    margin: 3%;
    padding: 2%;
}
footer{
    border: 2px solid rgb(205, 13, 154);
    margin: 10px;
    padding: 5%;
}